.navbar-brand:hover{
  color: #0c7eaf;
}

.btn{
  background-color: #0c7eaf;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.btn:hover{
  background-color: #1b1a46;
}

input{
  border: 2px solid #021a24;

}

input::placeholder{
  font-weight: 600;

}
