.quotes-main{
  height: 100%;
  /* background-color: #e0f2ee; */
  background-image: url("https://wallpaperaccess.com/full/482770.jpg");
  font-size: 15px;
}

.main-page{
  height: 900px;

}

.form-container{
  margin-top: 5px;
  color: white;
  height: auto;
  margin-bottom: 10px;


  /* background-color: #085a7d; */
}
.quote-list{
  background-color: rgb(217, 227, 240);
  color: white;

}




.quote-container{
  height: 880px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;


}

.quote-box h4{
  font-size: 16px !important;
  font-weight: 500 !important;
}

.opacity{
  background-color: rgb(81, 81, 131, 0.5);

}


.quote{
  height: auto;
  margin: 20px;
  border: 1px solid white;



}

.quote-box{
  /* height: 60%; */
  width: 100%;
  background-color: #085a7d;
  /* background-color: #6a696e; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.quote-box h4{
  line-height: 2;
  font-size: 18px;

}


.quote-reaction{
  /* height: 20%; */
  width: 100%;
  background-color: rgb(10, 26, 44, 0.9);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.quote-reaction p{
  margin-right: 10px;
}

.like, .dislike{
  display: flex;
  margin-top: 10px;
}

/* span{
  background-color: darkblue;
  color: #fff;
} */

.toggle{

  background-color: rgb(177, 186, 211);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle .btn{
  margin: 20px;
  background-color: rgb(18, 33, 247);
  border: 1px solid white;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.like p:hover, .dislike p:hover{
  transform: scale(1.3);
}

.like{
  color: green;
}

.dislike{
  color: red;
}
.toggle .btn:hover{
  background-color: #1b1a46;
}

.popular-container{
  color: white;
  /* background-color: rgba(3, 3, 90, 0.4); */

}


.main-page h4{
  font-size: 17px;
  text-align: center;
}


@media only screen and (max-width: 600px) {  .quote-container{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .popular-container{
    background-color: rgb(43, 26, 75);
    color: white;
  }

  .popular-container h4{
    margin-top: 20px;
  }


}
